configuration {
  modes: "combi";
  combi-modes: "drun,run,window";

  show-icons: true;
  icon-theme: "Papirus";
  terminal: "kitty";

  matching: "fuzzy";
  sort: true;
  sorting-method: "fzf";
  case-sensitive: false;
  cycle: true;

  drun-display-format: "{name}";
  combi-display-format: "{mode}  {text}";
  display-drun: "APPS";
  display-run: "RUN";
  display-window: "WINDOWS";
}

@theme "theme"
